{% extends 'base.html' %}

{% load static %}

{% block title%}MichiStore-Blog{%endblock title %}

<!-- contenido categorias del blog -->

{% block main %}
<section>
  <div class="blog">
    <img
      class="blog__img"
      src="{% static 'AppTienda/assets/img/bigotes.jpg' %}"
      alt="patas de gato"
    />
    <div class="blog__container">
      <h2 class="blog__container--h2">El Michi Blog</h2>
      <p class="blog__container--p">
        ¡Déjanos tus comentarios y opiniones!
      </p>
      {% for entrada in entradas %}
      <div>
        <img src="{{entrada.img.url}}" alt="">
        <h4>{{entrada.title}}</h4>
        <p>{{entrada.content}}</p>
        <p>{{entrada.author}}</p>
      </div>
      {% endfor %}
    </div>
      <h4>Categorías:</h4>
      {% for entrada in entradas %}
        {% for categoria in entrada.category.all %}
        <ul>
         <a href="{% url 'categoria' categoria.id %}">{{categoria.name}}</a>          
        </ul>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>



{% endblock main %}