{%extends 'base.html'%} 

{% load static %} 

{%block title%}MichiStore-Contacto{%endblock title%}

<!-- contenido contacto -->

{% block main %}

<section class="contacto">
  <h2 class="contacto__h2">Contacto</h2>
  <p class="contacto__p">
    Si tienes alguna duda o sugerencia, no dudes en contactarnos. Podes hacerlo
    a través de nuestro correo electrónico, Whatsapp, redes sociales o dejanos
    un mesajito aca y te contactamos. También podes acercarte a nuestras
    sucursales para ver todos nuestros productos.
  </p>
  <div class="contacto__div">
    <img
      class="contacto__div--img"
      src="{% static 'AppTienda/assets/img/mailcat.jpg' %}"
      alt="arroba"
    />
    <div class="contacto__div--seccion">
      <div class="contacto__div--seccion--mail">
        <i class="fa-solid fa-envelope"></i>
        <a href="michi-shop@michitienda.com">michi-shop@michitienda.com</a>
      </div>
      <div class="contacto__div--seccion--wtp">
        <i class="fa-brands fa-whatsapp"></i>
        <p>797-5624</p>
      </div>
      <div class="contacto__div--seccion--face">
        <i class="fa-brands fa-facebook"></i>
        <a href="https://www.facebook.com">Facebook</a>
      </div>
      <div class="contacto__div--seccion--twt">
        <i class="fa-brands fa-twitter"></i>
        <a href="https://twitter.com">Twitter</a>
      </div>
      <div class="contacto__div--seccion--insta">
        <i class="fa-brands fa-square-instagram"></i>
        <a href="https://www.instagram.com">Instagram</a>
      </div>
      <div class="contacto__div--seccion--suc">
        <i class="fa-solid fa-store"></i>
        <p>Avenida Siempreviva 742, Springfield</p>
      </div>
    </div>
    <img
      class="contacto__div--img"
      src="{% static 'AppTienda/assets/img/contacto.jpg' %}"
      alt="gato espalda"
    />
  </div>
  <div>
    <h2>Dejanos un mensajito</h2>
    <form class="contacto__form" action="/contacto/" method="post">
      {% csrf_token %}
      <fieldset>
        <div class="contacto__form--div">
          <legend>Contactanos</legend>
          <label for="nombre" class="contacto__form--div--lbl">Nombre: </label>
          <input
            type="text"
            class="contacto__form--div--inp"
            name="nombre"
            id="nombre"
            placeholder="Nombre"
          />
          <label for="apellido" class="contacto__form--div--lbl"
            >Apellido:
          </label>
          <input
            type="text"
            class="contacto__form--div--inp"
            name="apellido"
            id="apellido"
            placeholder="Apellido"
          />
          <label for="email" class="contacto__form--div--lbl">Email: </label>
          <input
            type="email"
            class="contacto__form--div--inp"
            name="email"
            id="email"
            placeholder="Email"
          />
          <label for="contacto__form--div--lbl"> Tipo de evento: </label>
          <select class="contacto__form--div--select" name="asunto" id="asunto">
            <option value="alimentos">Alimentos</option>
            <option value="accesorios">Accesorios</option>
            <option value="cuchas">Cuchas</option>
            <option value="juguetes">Juguetes</option>
            <option value="otros">Otros</option>
          </select>
        </div>
        <br />
        <div class="contacto__form--msj">
          <div class="contacto__form--msj--div">
            <label class="contacto__form--msj--div-lbl" for="mensaje"
              >Dejanos un mensaje:</label
            >
            <textarea
              class="contacto__form--msj--div-txt"
              name="mensaje"
              id="mensaje"
              cols="30"
              rows="10"
            ></textarea>
            <div class="contacto__form--msj--div-check">
              Recibir email con novedades<input
                class="form-check-input"
                type="checkbox"
                name="acepta"
                id="acepta"
                value="acepta"
              />
            </div>
          </div>
          <br />
          <input
            type="reset"
            class="contacto__form--msj--inp"
            value="Limpiar"
          />
          <input
            type="submit"
            class="contacto__form--msj--inp"
            value="Enviar"
          />
        </div>
      </fieldset>
    </form>
  </div>
</section>

{% endblock main %}
