{%extends 'base.html'%} 

{% load static %} 

{%block title%}MichiStore-Contacto{%endblock title%}

<!-- contenido contacto -->

{% block main %}

<section class="contacto">
  <h2 class="contacto__h2">Contacto</h2>
  <p class="contacto__p">
    Si tienes alguna duda o sugerencia, no dudes en contactarnos. Podes hacerlo
    a través de nuestro correo electrónico, Whatsapp, redes sociales o dejanos
    un mesajito aca y te contactamos. También podes acercarte a nuestras
    sucursales para ver todos nuestros productos.
  </p>
  <div class="contacto__div">
    <img
      class="contacto__div--img"
      src="{% static 'AppTienda/assets/img/mailcat.jpg' %}"
      alt="arroba"
    />
    <div class="contacto__div--seccion">
      <div class="contacto__div--seccion--mail">
        <i class="fa-solid fa-envelope"></i>
        <a href="michi-shop@michitienda.com">michi-shop@michitienda.com</a>
      </div>
      <div class="contacto__div--seccion--wtp">
        <i class="fa-brands fa-whatsapp"></i>
        <p>797-5624</p>
      </div>
      <div class="contacto__div--seccion--face">
        <i class="fa-brands fa-facebook"></i>
        <a href="https://www.facebook.com">Facebook</a>
      </div>
      <div class="contacto__div--seccion--twt">
        <i class="fa-brands fa-twitter"></i>
        <a href="https://twitter.com">Twitter</a>
      </div>
      <div class="contacto__div--seccion--insta">
        <i class="fa-brands fa-square-instagram"></i>
        <a href="https://www.instagram.com">Instagram</a>
      </div>
      <div class="contacto__div--seccion--suc">
        <i class="fa-solid fa-store"></i>
        <p>Avenida Siempreviva 742, Springfield</p>
      </div>
    </div>
    <img
      class="contacto__div--img"
      src="{% static 'AppTienda/assets/img/contacto.jpg' %}"
      alt="gato espalda"
    />
  </div>
  <div>
    {% if "enviado" in request.GET %}
      <h2>¡Formulario enviado con éxito!</h2>
      <p>Tu mensaje ha sido enviado correctamente. Gracias por contactarnos.</p>
    {%endif%}
    <h2>Dejanos un mensajito</h2>
    <form class="contacto__form" action="/contacto/" method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}        
      </table>
      <input type="submit" class="contacto__form--msj--inp" value="Enviar" />
    </form>
  </div>
</section>

{% endblock main %}
