{%extends 'base.html'%}{%block title%}Contacto{%endblock title%}

<!-- contenido contacto -->

{% block main %}

<section class="contacto">
  <h2 class="contacto__h2">Contacto</h2>
  <p class="contacto__p">
    Si tienes alguna duda o sugerencia, no dudes en contactarnos. Puedes hacerlo
    a través de nuestro correo electrónico, Whatsapp o redes sociales. También
    puedes acercarte a nuestras sucursales.
  </p>
  <div class="contacto__div">
    <img
      class="contacto__div--img"
      src="../../static/AppTienda/assets/img/mailcat.jpg"
      alt="arroba"
    />
    <div class="contacto__div--seccion">
      <div class="contacto__div--seccion--mail">
        <i class="contacto__div--seccion--mail-icon"></i>
        <a href="michi-shop@michitienda.com">michi-shop@michitienda.com</a>
      </div>
      <div class="contacto__div--seccion--wtp">
        <i class="contacto__div--seccion--wtp-icon"></i>
        <p>797-5624</p>
      </div>
      <div class="contacto__div--seccion--face">
        <i class="contacto__div--seccion--face-icon"></i>
        <a href="https://www.facebook.com">Facebook</a>
      </div>
      <div class="contacto__div--seccion--twt">
        <i class="contacto__div--seccion--twt-icon"></i>
        <a href="https://twitter.com">Twitter</a>
      </div>
      <div class="contacto__div--seccion--insta">
        <i class="contacto__div--seccion--insta-icon"></i>
        <a href="https://www.instagram.com">Instagram</a>
      </div>
      <div class="contacto__div--seccion--suc">
        <i class="contacto__div--seccion--suc-icon"></i>
        <p>Avenida Siempreviva 742, Springfield</p>
      </div>
    </div>
    <img
      class="contacto__div--img"
      src="../../static/AppTienda/assets/img/contacto.jpg"
      alt="gato espalda"
    />
  </div>
</section>

{% endblock main %}
