{%extends 'base.html'%}{%block title%}Productos detalles{%endblock title%}

<!-- contenido detalle producto -->

{% block main %}

<div>
  <p>Resultado de la busqueda: <strong>{{query}}</strong></p>
  {% if articulos %}
    <p>Articulos encontrados: {{articulos|length}}</p>
    <ul>
      {% for articulo in articulos %}
        <li>{{articulo.title}} &nbsp; precio: {{articulo.price}}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No se encontro producto</p>
</div>  
{% endif %} {% endblock main %}
