{% extends 'base.html' %}

{% load static %}

{% block title %}MichiStore-Productos{% endblock title %}

<!-- contenido productos -->

{% block main %}

<div class="productos">
  <h2 class="productos__h2">MichiProductos</h2>
  <div class="productos__div">
    {% for producto in productos %}
    <div class="card">
      <img class="card__img" src="{{producto.img.url}}" alt="foto producto" />
      <h5 class="card__h5">{{producto.title}}</h5>
      <p class="card__price">{{producto.price}}</p>
      <p class="card__stock">Stock: {{producto.stock}}</p>
      <a class="card__button"> Ver detalles </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock main %}
