{% extends 'base.html' %} {% block title %}Productos{% endblock title %}

<!-- contenido productos -->

{% block main %}

<div class="productos">
  <h2 class="productos__h2">MichiProductos</h2>
  <div class="productos__div">
    <div class="card">
      <img class="card__img" src="#" alt="title" />
      <h5 class="card__h5">Title</h5>
      <p class="card__price">price</p>
      <p class="card__stock">Stock:</p>
      <a class="card__button"> Ver detalles </a>
    </div>
  </div>
</div>

{% endblock main %}
